.popup-position {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(102, 102, 192, 0.8);
	width: 100%;
	height: 100%;
	.popup-wrapper {
		width: 50%;
		margin: 100px auto;
		text-align: left;
		-webkit-box-shadow: 10px 8px 15px -4px rgba(51,51,51,1);
		-moz-box-shadow: 10px 8px 15px -4px rgba(51,51,51,1);
		box-shadow: 10px 8px 15px -4px rgba(51,51,51,1);
	}
	.popup-container {
		padding: 5%;
		background-color: #fff;
		color: $mid-grey;
		overflow: hidden;
		// Close
		i {
			font-size: 140%; 
			display: block;
			float: right;
		}
		i:link,
		i:visited {
		}
		i:hover,
		i:active {
			color: $light-grey;
			@include transition(all 0.5s linear);
		}
		// City Name
		h3 {
			color: #fff;
			font-size: 200%;
			padding: 0;
			margin: 0 0 2% 0;
			font-family: $cursive-font-stack;
		}
		// About & Sights
		p {
			background-color: rgba(255,255,255, 0.2);
			color: #fff;
			padding: 3%;
			font-size: 90%;
			line-height: 150%;
			span {
				font-size: 110%;
				font-weight: bold;
				display: block;
				margin-bottom: 1%;
			}
		}
		.about-city {
			float:left;
			width: 49%;
			margin-right: 2%;
			margin-bottom: 7%;
		}
		.sights-city {
			float:left;
			width: 49%;
		}
	}
}

//City Pop Up Boxes
#popup-box1 {
	.popup-container {
		background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/cities/london.jpg);
		background-position: center;
		background-size: cover;
	}
}

#popup-box2 {
	.popup-container {
		background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/cities/paris.jpg);
		background-position: center;
		background-size: cover;
	}
}

#popup-box3 {
	.popup-container {
		background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/cities/newyork.jpg);
		background-position: center;
		background-size: cover;
	}
}

#popup-box4 {
	.popup-container {
		background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/cities/amsterdam.jpg);
		background-position: center;
		background-size: cover;
	}
}

#popup-box5 {
	.popup-container {
		background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/cities/budapest.jpg);
		background-position: center;
		background-size: cover;
	}
}

#popup-box6 {
	.popup-container {
		background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/cities/barcelona.jpg);
		background-position: center;
		background-size: cover;
	}
}

